{{ define "main" }}
<article class="markdown">
  <h1>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h1>
  {{ partial "docs/post-meta" . }}
  <p>
    {{- .Content -}}
  </p>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
