@charset "UTF-8";
aside .tabsitem:hover
{
	background: #eee;
	color: #343a40;
}
aside #tabsBlock ul
{
	background: #343a40;
	box-shadow: 0 0 .25rem rgba(0,0,0,.1);
	position: absolute;
	top: 105%;
	z-index: 100;
}
html
{
	line-height: 1.15;
	webkit-text-size-adjust: 100%;
}
body
{
	margin: 0;
}
main
{
	display: block;
}
h1
{
	font-size: 2em;
	margin: .67em 0;
}
hr
{
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}
pre
{
	font-family: monospace,monospace;
	font-size: 1em;
}
a
{
	background-color: transparent;
}
abbr[title]
{
	border-bottom: none;
	text-decoration: underline dotted;
	text-decoration: underline;
}
b,strong
{
	font-weight: bolder;
}
code,kbd,samp
{
	font-family: monospace,monospace;
	font-size: 1em;
}
small
{
	font-size: 80%;
}
sub,sup
{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub
{
	bottom: -.25em;
}
sup
{
	top: -.5em;
}
img
{
	border-style: none;
}
button,input,optgroup,select,textarea
{
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}
button,input
{
	overflow: visible;
}
button,select
{
	text-transform: none;
}
button,[type=button],[type=reset],[type=submit]
{
	webkit-appearance: button;
}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner
{
	border-style: none;
	padding: 0;
}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring
{
	outline: 1px dotted ButtonText;
}
fieldset
{
	padding: .35em .75em .625em;
}
legend
{
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}
progress
{
	vertical-align: baseline;
}
textarea
{
	overflow: auto;
}
[type=checkbox],[type=radio]
{
	box-sizing: border-box;
	padding: 0;
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button
{
	height: auto;
}
[type=search]
{
	outline-offset: -2px;
	webkit-appearance: textfield;
}
[type=search]::-webkit-search-decoration
{
	webkit-appearance: none;
}
::-webkit-file-upload-button
{
	font: inherit;
	webkit-appearance: button;
}
details
{
	display: block;
}
summary
{
	display: list-item;
}
template
{
	display: none;
}
[hidden]
{
	display: none;
}
.flex
{
	display: flex;
}
.flex-auto
{
	flex: 1 1 auto;
}
.flex-even
{
	flex: 1 1;
}
.flex-wrap
{
	flex-wrap: wrap;
}
.justify-start
{
	justify-content: flex-start;
}
.justify-end
{
	justify-content: flex-end;
}
.justify-center
{
	justify-content: center;
}
.justify-between
{
	justify-content: space-between;
}
.align-center
{
	align-items: center;
}
.mx-auto
{
	margin: 0 auto;
}
.text-center
{
	text-align: center;
}
.hidden
{
	display: none;
}
.clearfix::after
{
	clear: both;
	content: "";
	display: table;
}
html
{
	font-size: 16.4px;
	letter-spacing: 0;
	scroll-behavior: smooth;
	touch-action: manipulation;
}
html,body
{
	min-width: 20rem;
	overflow-x: hidden;
}
body
{
	background: #343a40;
	box-sizing: border-box;
	color: #e9ecef;
	font-weight: 400;
	moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	webkit-font-smoothing: antialiased;
}
body *
{
	box-sizing: inherit;
}
h1,h2,h3,h4,h5
{
	font-weight: 400;
}
a
{
	color: #84b2ff;
	text-decoration: none;
}
a:visited
{
	color: #b88dff;
}
img
{
	vertical-align: baseline;
}
aside nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
aside nav ul li
{
	margin: 1em 0;
}
aside nav ul a
{
	display: block;
}
aside nav ul a:hover
{
	opacity: .5;
}
aside nav ul ul
{
	padding-left: 1rem;
}
ul.pagination
{
	display: flex;
	justify-content: center;
	list-style-type: none;
}
ul.pagination .page-item a
{
	padding: 1rem;
}
.container
{
	margin: 0 auto;
	max-width: 80rem;
}
.book-icon
{
	filter: brightness(0) invert(1);
}
.book-brand
{
	margin-top: 0;
}
.book-brand img
{
	height: 1.5em;
	margin-right: .5rem;
	vertical-align: -.47rem;
	width: auto;
}
.book-menu
{
	flex: 0 0 16rem;
	font-size: .875rem;
}
.book-menu nav
{
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 1rem;
	position: fixed;
	top: 0;
	width: 16rem;
}
.book-menu a
{
	color: inherit;
}
.book-menu a.active
{
	color: #84b2ff;
}
.book-menu a.collapsed::after
{
	content: "▸";
	margin-left: .5rem;
}
.book-section-flat
{
	margin-bottom: 2rem;
}
.book-section-flat:not(:first-child)
{
	margin-top: 2rem;
}
.book-section-flat>a,.book-section-flat>span
{
	font-weight: bolder;
}
.book-section-flat>ul
{
	padding-left: 0;
}
.book-page
{
	flex-grow: 1;
	min-width: 20rem;
	padding: 1rem;
}
.book-post
{
	margin-bottom: 3rem;
}
.book-header
{
	display: none;
	margin-bottom: 1rem;
}
.book-header label
{
	line-height: 0;
}
.book-search
{
	border-bottom: 1px solid transparent;
	margin: 1rem 0;
	position: relative;
}
.book-search::after
{
	clear: both;
	content: "";
	display: block;
}
.book-search input
{
	background: rgba(255,255,255,.1);
	border: 0;
	border-radius: .25rem;
	color: #e9ecef;
	padding: .5rem;
	width: 100%;
}
.book-search input:required+.book-search-spinner
{
	display: block;
}
.book-search .book-search-spinner
{
	animation: spin 1s ease infinite;
	border: 1px solid transparent;
	border-radius: 50%;
	border-top-color: #e9ecef;
	height: 1rem;
	margin: .5rem;
	position: absolute;
	right: 0;
	top: 0;
	width: 1rem;
}
@keyframes spin
{
	100%
	{
		transform: rotate(360deg);
	}
}
.book-toc
{
	flex: 0 0 16rem;
	font-size: .75rem;
}
.book-toc nav
{
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 1rem;
	position: fixed;
	top: 0;
	width: 16rem;
}
.book-toc img
{
	height: 1em;
}
.book-toc nav>ul>li:first-child
{
	margin-top: 0;
}
.book-footer
{
	font-size: .875rem;
	padding-top: 1rem;
}
.book-footer img
{
	height: 1em;
	margin-right: .5rem;
}
.book-comments
{
	margin-top: 1rem;
}
.book-languages
{
	margin: -1rem;
	overflow: visible;
	padding: 1rem;
	position: relative;
}
.book-languages ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.book-languages ul li
{
	cursor: pointer;
	white-space: nowrap;
}
.book-languages:hover .book-languages-list,.book-languages:focus .book-languages-list,.book-languages:focus-within .book-languages-list
{
	display: block;
}
.book-languages .book-languages-list
{
	background: #343a40;
	bottom: 100%;
	box-shadow: 0 0 .25rem rgba(0,0,0,.1);
	display: none;
	left: 0;
	padding: .5rem 0;
	position: absolute;
}
.book-languages .book-languages-list li img
{
	opacity: .25;
}
.book-languages .book-languages-list li.active img,.book-languages .book-languages-list li:hover img
{
	opacity: 1;
}
.book-languages .book-languages-list a
{
	color: inherit;
	padding: .5rem 1rem;
}
.book-home
{
	padding: 1rem;
}
aside nav,.book-page,.book-header aside,.markdown
{
	transition: .2s ease-in-out;
	transition-property: transform,margin,opacity;
	will-change: transform,margin;
}
@media screen and (max-width:56rem)
{
	.book-menu
	{
		font-size: 16.4px;
		margin-left: -16rem;
	}
	.book-toc
	{
		display: none;
	}
	.book-header
	{
		display: block;
	}
	#menu-control:checked+main .book-menu nav,#menu-control:checked+main .book-page
	{
		transform: translateX(16rem);
	}
	#menu-control:checked+main .book-header aside,#menu-control:checked+main .markdown
	{
		opacity: .25;
	}
	#menu-control:checked+main .book-menu-overlay
	{
		bottom: 0;
		display: block;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	#toc-control:checked+aside
	{
		display: block;
	}
}
@media screen and (min-width:80rem)
{
	.book-page,.book-menu nav,.book-toc nav
	{
		padding: 2rem 1rem;
	}
}
@font-face
{
	font-display: swap;
	font-family: roboto;
	font-style: italic;
	font-weight: 300;
	src: local("Roboto Light Italic"),local(Roboto-LightItalic),url(fonts/roboto-v19-latin-300italic.woff2) format("woff2"),url(fonts/roboto-v19-latin-300italic.woff) format("woff");
}
@font-face
{
	font-display: swap;
	font-family: roboto;
	font-style: normal;
	font-weight: 400;
	src: local(Roboto),local(Roboto-Regular),url(fonts/roboto-v19-latin-regular.woff2) format("woff2"),url(fonts/roboto-v19-latin-regular.woff) format("woff");
}
@font-face
{
	font-display: swap;
	font-family: roboto;
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"),local(Roboto-Bold),url(fonts/roboto-v19-latin-700.woff2) format("woff2"),url(fonts/roboto-v19-latin-700.woff) format("woff");
}
@font-face
{
	font-display: swap;
	font-family: roboto mono;
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Mono"),local(RobotoMono-Regular),url(fonts/roboto-mono-v6-latin-regular.woff2) format("woff2"),url(fonts/roboto-mono-v6-latin-regular.woff) format("woff");
}
@font-face
{
	font-family: lato regular;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/lato-regular.eot);
	src: url(../fonts/lato-regular.eot?#iefix) format("embedded-opentype"),url(../fonts/lato-regular.otf) format("opentype"),url(../fonts/lato-regular.svg) format("svg"),url(../fonts/lato-regular.ttf) format("truetype"),url(../fonts/lato-regular.woff) format("woff"),url(../fonts/lato-regular.woff2) format("woff2");
}
body
{
	font-family: lato regular;
}
code
{
	font-family: roboto mono,monospace;
}
@media print
{
	.book-menu,.book-footer,.book-toc
	{
		display: none;
	}
	.book-header,.book-header aside
	{
		display: block;
	}
	main
	{
		display: block!important;
	}
}
.markdown
{
	line-height: 1.6em;
}
.markdown>:first-child
{
	margin-top: 0;
}
.markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6
{
	font-weight: 400;
	line-height: 1em;
	margin-bottom: 1rem;
	margin-top: 1.5em;
}
.markdown h4,.markdown h5,.markdown h6
{
	font-weight: bolder;
}
.markdown h5
{
	font-size: .875em;
}
.markdown h6
{
	font-size: .75em;
}
.markdown b,.markdown optgroup,.markdown strong
{
	font-weight: bolder;
}
.markdown a
{
	text-decoration: none;
}
.markdown a:hover
{
	text-decoration: underline;
}
.markdown img
{
	max-width: 100%;
}
.markdown code
{
	background: rgba(255,255,255,.2);
	border-radius: .25rem;
	font-size: .875em;
	padding: 0 .25rem;
}
.markdown pre
{
	background: rgba(255,255,255,.1);
	border-radius: .25rem;
	overflow-x: auto;
	padding: 1rem;
}
.markdown pre code
{
	background: 0 0;
	padding: 0;
}
.markdown blockquote
{
	border-left: .25rem solid rgba(255,255,255,.2);
	border-radius: .25rem;
	margin: 1rem 0;
	padding: .5rem 1rem .5rem .75rem;
}
.markdown blockquote :first-child
{
	margin-top: 0;
}
.markdown blockquote :last-child
{
	margin-bottom: 0;
}
.markdown table
{
	border-collapse: collapse;
	width: 100%;
}
.markdown table thead tr
{
	background: #343a40;
	border: 1px solid #e8e9eb;
	color: #e9ecef;
	font-weight: lato regular;
}
.markdown table thead tr td
{
	border: 1px solid #e9ecef;
}
.markdown table tbody tr td
{
	border: 1px solid #e8e9eb;
}
.markdown table tbody tr:nth-child(2n)
{
	background: #343a40;
}
.markdown table tbody tr:hover
{
	background: #343a40;
}
.markdown hr
{
	background: rgba(255,255,255,.2);
	border: none;
	height: 1px;
}
.markdown ul,.markdown ol
{
}
.markdown dl dt
{
	font-weight: bolder;
	margin-top: 1rem;
}
.markdown dl dd
{
	margin-left: 2rem;
}
.markdown .highlight table tr td:nth-child(1) pre
{
	margin: 0;
	padding-right: 0;
}
.markdown .highlight table tr td:nth-child(2) pre
{
	margin: 0;
	padding-left: 0;
}
.markdown details
{
	border: 1px solid rgba(255,255,255,.2);
	border-radius: .25rem;
	padding: 1rem;
}
.markdown details summary
{
	cursor: pointer;
	line-height: 1;
}
.markdown ma
{
	background: rgba(255,255,255,.2);
	border-radius: .25rem;
	font-family: roboto mono,monospace;
	font-size: .875em;
	padding: 0 .25rem;
}
.markdown-inner>:first-child
{
	margin-top: 0;
}
.markdown-inner>:last-child
{
	margin-bottom: 0;
}
.book-expand
{
	border: 1px solid rgba(255,255,255,.2);
	border-radius: .25rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
	overflow: hidden;
}
.book-expand .book-expand-head
{
	background: rgba(255,255,255,.1);
	cursor: pointer;
	padding: .5rem 1rem;
}
.book-expand .book-expand-content
{
	display: none;
	padding: 1rem;
}
.book-expand input[type=checkbox]:checked+.book-expand-content
{
	display: block;
}
.book-tabs
{
	border: 1px solid rgba(255,255,255,.2);
	border-radius: .25rem;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	margin-top: 1rem;
	overflow: hidden;
}
.book-tabs label
{
	border-bottom: 1px transparent;
	cursor: pointer;
	display: inline-block;
	padding: .5rem 1rem;
}
.book-tabs .book-tabs-content
{
	border-top: 1px solid rgba(255,255,255,.1);
	display: none;
	order: 999;
	padding: 1rem;
	width: 100%;
}
.book-tabs input[type=radio]:checked+label
{
	border-bottom: 1px solid #84b2ff;
}
.book-tabs input[type=radio]:checked+label+.book-tabs-content
{
	display: block;
}
.book-columns
{
	margin-left: -1rem;
	margin-right: -1rem;
}
.book-columns>div
{
	margin: 1rem 0;
	min-width: 10rem;
	padding: 0 1rem;
}
a.book-btn
{
	border: 1px solid #84b2ff;
	border-radius: .25rem;
	color: #84b2ff;
	cursor: pointer;
	display: inline-block;
	font-size: .875rem;
	line-height: 2rem;
	padding: 0 1rem;
}
a.book-btn:hover
{
	text-decoration: none;
}
.book-hint.info
{
	background-color: rgba(102,187,255,.1);
	border-left-color: #6bf;
}
.book-hint.warning
{
	background-color: rgba(255,221,102,.1);
	border-left-color: #fd6;
}
.book-hint.danger
{
	background-color: rgba(255,102,102,.1);
	border-left-color: #f66;
}