.uroki {
	margin-bottom: -4px
}

aside .tabsitem {
	margin-right: 1em;
	cursor: pointer;
	display: inline-block;
	padding: .5rem 1rem;
	border-bottom: 1px transparent;
}

aside .tabsitem.active {
	font-weight: 700;
	/* text-decoration: underline; */
	/* color: #0055c5; */
	/* border-left: 3px solid #05b; */
}
aside #tabsBlock {
	position: relative;
	background: inherit;
	border: #eee 1px solid;
}
aside #tabsBlock::after {
	content: '▼';
	padding-left: 1em;
	right: .5em;
	position: absolute;
	top: .5em;
	color: #ccc;
}

aside #contentBlock {
	height: 300px;
	overflow-y: auto;
}

#contentBlock > ul {
	padding-right: .5em;
}

nav li {
	line-height: 150%;
}

nav a.active {
	position: relative;
	/* border-left: 3px solid #aaa; */
}
/* nav a.active::before {
	content: '';
	display: block;
	border: 2px solid #aaa;
	height: 150%;
	width: 0;
	left: -.3em;
	top: -25%;
	position: absolute;
} */


/* Scroll */

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* button */
::-webkit-scrollbar-button {
	/* background: #234; */
	background: #6b7c97
}

/* Handle */
::-webkit-scrollbar-thumb {
	/*background: #777;*/
	background: #6b7c97
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #c1c1c1;
}

/* Track */
::-webkit-scrollbar-track {
	/*background: #aaa;*/
	background: #f1f1f1
}

/* The track NOT covered by the handle.
::-webkit-scrollbar-track-piece {
	background: #000;
}

/* Corner */
::-webkit-scrollbar-corner {
	background: #f1f1f1
}

/* Resizer */
::-webkit-resizer {
	background: #111;
}

aside a.styles::after {
	content: '';
	background-image: url('/darkthem1.png');
	background-size: cover;
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	margin-left: .5em;
}
/*горизонтальная прокрутка больших формул*/
.katex {
  padding-top: 2px;
  padding-bottom: 2px;
  overflow: auto;
  overflow-y:hidden
}