<!-- This partial can be replaced to support other commenting engines -->
{{ template "_internal/disqus.html" . }}

<!-- Put this div tag to the place, where the Comments block will be 
<div id="vk_comments"></div>
<script type="text/javascript">
VK.Widgets.Comments("vk_comments", {limit: 10, attach: "*"});
</script>
комменты вк-->