<div class="flex justify-between">
{{ if .Site.IsMultiLingual }}
  {{ partial "docs/languages" . }}
{{ end }}

{{ if and .GitInfo .Site.Params.BookRepo }}
  <div>
    {{ $date := .GitInfo.AuthorDate.Local.Format (default "January 2, 2006" .Site.Params.BookDateFormat) }}
    <a class="flex align-center" href="{{ .Site.Params.BookRepo }}/commit/{{ .GitInfo.Hash }}" title='{{ i18n "Last modified by" }} {{ .GitInfo.AuthorName }} | {{ $date }}' target="_blank" rel="noopener">
      <img src="{{ "svg/calendar.svg" | relURL }}" class="book-icon" alt="Calendar" />
      <span>{{ $date }}</span>
    </a>
  </div>
{{ end }}

{{ if and .File .Site.Params.BookRepo .Site.Params.BookEditPath }}
  <div>
    <a class="flex align-center" href="{{ .Site.Params.BookRepo }}/{{ .Site.Params.BookEditPath }}/{{ replace .File.Path "\\" "/" }}" target="_blank" rel="noopener">
      <img src="{{ "svg/edit.svg" | relURL }}" class="book-icon" alt="Edit" />
      <span>{{ i18n "Edit this page" }}</span>
    </a>
  </div>
{{ end }}
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(54413644, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/54413644" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
