<div class="flex align-center justify-between">
  <label for="menu-control">
    <img src="{{ "svg/menu.svg" | relURL }}" class="book-icon" alt="Menu" />
  </label>

  <strong><center>reshu.su</center></strong>

  <label for="toc-control">
    <img src="{{ "svg/toc.svg" | relURL }}" class="book-icon" alt="Содержание" />
  </label>
</div>
