<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="HandheldFriendly" content="True">
<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
<meta name="keywords" content="{{ .Title }}" />
<meta name="yandex-verification" content="ebceb133fd6c45ff" />
<meta name="google-site-verification" content="DwxNKHNgDH2Sbfujd9sJ9MuoS2oEw3Rr-BZN_BxMH1U" />
<meta name="yandex-verification" content="50bfaebd77441c17" />
{{- template "_internal/opengraph.html" . -}}
<title>{{ partial "docs/title" . }} | {{ .Site.Title -}}</title>
<link rel="canonical" href="{{.Permalink}}"/>
<link rel="icon" href="{{ "favicon.png" | relURL }}" type="image/x-icon">
<link rel="stylesheet" href="/tabs.css">
<script defer="defer" src="/tabs.js"></script>
<!-- Theme stylesheet, you can customize scss by creating `assets/custom.scss` in your website -->
{{- $styles := resources.Get "book.scss" | resources.ExecuteAsTemplate "book.scss" . | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ if default true .Site.Params.BookSearch }}
{{- $searchJSFile := printf "%s.search.js" .Language.Lang -}}
{{- $searchJS := resources.Get "search.js" | resources.ExecuteAsTemplate $searchJSFile . | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $searchJS.RelPermalink }}" integrity="{{ $searchJS.Data.Integrity }}"></script>
{{ end }}
<!-- Put this script tag to the <head> of your page
<script type="text/javascript" src="https://vk.com/js/api/openapi.js?167"></script>
<script type="text/javascript">
  VK.init({apiId: 7427327, onlyWidgets: true});
</script>
комменты вк -->

{{- template "_internal/google_analytics_async.html" . -}}

<!-- RSS -->
{{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

{{ "<!--" | safeHTML }}
reshu.su
{{ "-->" | safeHTML }}
